*{
	margin:0;
}
body{
	padding-left:30px;
}
.product {
    width: 280px;
    height: 395px;
    float: left;
	margin:15px;
	overflow:hidden;
}

.product img {
    width: 280px;
    height: 395px;
	overflow:hidden;

}

.product p {
    height:0px;
	opacity:0;
	background-color:rgba(0,0,0,0.7);
	transition:all 0.3s;
	overflow:hidden;
}

.product:hover p {
    height:100%;
	opacity:1;
	margin-top:-400px;
	z-index:1;
	position:relative;
	overflow:hidden;
	clear:both;
}

.product a {
    color: white;
    text-decoration: none;
	overflow:hidden;
}
.showra{
	text-align:center;
	overflow:hidden;
}
.nutmua{
	position:absolute;
	bottom:0px;
	right:0px;
	height:50px;
	width:50px;
	line-height:50px;
	background-color: orangered;
	overflow:hidden;
	text-align:center;
}
.nutmua:hover {font-size:35px}
.dix{
	position:absolute;
	margin-top:-55px;
	height:50px;
	width:100px;
	background-color:black;
	line-height:50px;
	color:white;
	font-family:"2";
	font-size:15px;
	overflow:hidden;
	text-align:center;
}
@font-face {
font-family: "3";
src: url("EPC-Bold.otf");
url("EPC-Bold.otf") format("opentype"),}
@font-face {
font-family: "1";
src: url("FN21-Regular.otf");
url("FN21-Regular.otf") format("opentype"),
}
@font-face {
font-family: "2";
src: url("RM-Medium.ttf");
}
.detail{
	font-family:"2";
	color:white;
	text-align:left;
	position:absolute;
	top:190px;
	overflow:hidden;
	padding-left:20px;
	padding-right:20px;
	
}
.name{
	position:absolute;
	left:0px;
	height:50px;
	padding-left:30px;
	padding-right:50px;
	background-color: orangered;
	line-height:50px;
	color:rgba(255,255,255,1);
	border-bottom-right-radius:50px;
	font-family:"1";
}